* {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background: linear-gradient(rgb(255,20,20, .6),rgb(20,255,20, .6), rgb(20,20,255, .5));
    padding: 0;
    margin: 0;
    height: 100vh;
}

.calculator-container {
    display: grid;
    height: 100vh;
    align-content: center;
    justify-content: center;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(150px, auto) repeat(5, 100px);
}

.output {
    background-color: rgba(100, 100, 100);
    grid-column: 1/-1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    word-wrap: break-word;
    word-break: break-all;
    padding: 10px;
    border: 2px solid black;
    border-bottom: 1px solid black;
    box-shadow: inset 0px 0px 150px 1px black;
}
.output .previous-operand {
    font-size: 1.6rem;
    color:rgba(220,220,220, .8)
}
.output .current-operand {
    font-size: 2.6rem;
    color: white;
}

.double {
    grid-column: span 2;
}

.calculator-container button {
    background-color: whitesmoke;
    font-size: 1.8rem;
    outline: none;
    cursor: pointer;
    border: 1px solid black;
    box-shadow: inset 0px 0px 4px 0px black;
}
.calculator-container button:hover {
    background-color: white;
}
